extends layout

block content
  h1= title
  - let engines = results
  //- var results = [{"bikesType":"2 wheeler","Cylinders":0,"FuelType":"no fuel","Transmission":"No gears"},{"bikes type":"hiking bikes","Cylinders":0,"FuelType":"no fuel","Transmission":"No gears"},{"bikes types":"Radial","Cylinders":0,"FuelType":"LPG","Transmission":"Automatic"}];
  div(class="container-fluid")
    div(class="row")
    each item in engines
      div(class="col-sm-2" width="215px") bikes type Type:#{item.bikes type}, Cylinders:#{item.Cylinders}, FuelType:#{item.FuelType}, Transmission:#{item.Transmission}
  br
  div(class="container-fluid")
    div(class="row")
    - for(var i=0;i<engines.length;i++) {
        div(class="col-sm-2" width="215px" onClick=`buy(${i+1})`) #{engines[i].bikes type}
    -}
  script. 
    function buy(indexNum) {
      alert(`You purchased item ${indexNum}`);
    }